.content-wrapper {
  background-color: #fff;


  .personnel-tittle {
    margin: 10px;
    padding: 20px
  }

  .personnel-content {
    margin: 10px;
    padding: 20px;
  }

  .action-button {
    gap: 10px;
  }
}