.content-wrapper {
    background-color: #fff;


    .personnel-tittle {
        margin: 20px;
        padding: 20px
    }

    .Personnel-content {
        margin: 20px;
        padding: 20px;
    }

    .action-button {
        gap: 10px;
    }
}