.content-wrapper {
    background-color: #fff;


    .personnel-tittle {
<<<<<<< HEAD
        margin: 20px;
=======
        margin: 10px;
>>>>>>> origin/crm-hr
        padding: 20px
    }

    .personnel-content {
<<<<<<< HEAD
        margin: 20px;
        padding: 20px;
        border-radius: 10px;
        border: 1px solid black;
=======
        margin: 10px;
        padding: 20px;
>>>>>>> origin/crm-hr
    }

    .action-button {
        gap: 10px;
    }
}