.content-wrapper {
    background-color: #fff;
  
  
    .position-tittle {
      margin: 20px;
      padding: 20px
    }
  
    .position-content {
      margin: 20px;
      padding: 20px;
    }
  
    .action-button {
      gap: 10px;
    }
  }
  
  