.content-wrapper {
    background-color: #fff;
  
  
    .qualification-tittle {
      margin: 20px;
      padding: 20px
    }
  
    .qualification-content {
      margin: 20px;
      padding: 20px;
    }
  
    .action-button {
      gap: 10px;
    }
  }

.form-select {
  width: 130px;
  padding: 8px;
}
  