.content-wrapper {
  background-color: #fff;


  .contract-tittle {
    margin: 20px;
    padding: 20px
  }

  .contract-content {
    margin: 20px;
    padding: 20px;
  }

  .action-button {
    gap: 10px;
  }
}

