.content-wrapper {
  background-color: #fff;

  .contract-tittle {
    margin: 20px;
    padding: 20px;
  }

  .contract-content {
    margin: 20px;
    padding: 20px;
    position: relative;
    border: 1px solid #0a0e14;
    border-radius: 24px;
  }

  .spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
}

.action-button {
  gap: 10px;
}

.modal-header {
  background-color: #007bff;
  color: #fff;
}

.modal-dialog {
  max-width: 600px;
}

.form-group {
  margin-bottom: 15px;
}

.list-group-item {
  font-size: 14px;
}

.custom-modal .modal-dialog {
  max-width: 600px;
}

.custom-modal .modal-header {
  background-color: #007bff;
  color: #fff;
}